.row.proximos-viajes 
            each viaje in viajes
                .col-md-6.col-lg-4.mb-4
                    .card
                        img.card-img.top(src=`img/destinos_${viaje.imagen}.jpg`)
                        .card-body
                            h2= viaje.titulo
                            p
                                svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' fill='none' stroke='#ff2d55' stroke-width='1' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                                    path(d='M16 3l0 4')
                                    path(d='M8 3l0 4')
                                    path(d='M4 11l16 0')
                                    path(d='M8 15h2v2h-2z')
                                |  #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                            p    
                                svg(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-width='1' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                                    path(d='M6 21v-2a4 4 0 0 1 4 -4h4')
                                    path(d='M15 19l2 2l4 -4')
                                |  #{viaje.disponibles} Disponibles 

                            p= viaje.descripcion.substring(0,100) + "..."

                            a(href=`viajes/${viaje.slug}`,class="btn btn-success btn-block") MÁS INFORMACIÓN